/* variables */
/* common*/
html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size: 15px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #47c9af;
  color: #74777b;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a:link,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
*:after,
*:before {
  display: block;
  content: "";
}
*:after {
  clear: both;
}
.nav {
  width: 800px;
  height: 300px;
  margin: 200px auto;
}
.nav li {
  display: inline-block;
  margin: 0 1.2rem;
}
.tooltip {
  display: inline;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
  position: relative;
  z-index: 999;
  transition: color 0.3s;
}
.tooltip-content {
  opacity: 0;
  transition: opacity 0.2s, transform 0.5s;
  position: absolute;
  z-index: 9999;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  left: 50%;
  margin-left: -40px;
  bottom: 100%;
  margin-bottom: 25px;
  text-align: center;
  padding-top: 25px;
}
.tooltip-content-tail {
  display: block;
  position: absolute;
  background-size: 100%;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  margin-top: -20px;
  color: #fff;
  font-size: 2rem;
}
.tooltip-content i {
  font-size: 2rem;
  color: #47c9af;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-effect-1 .tooltip-content {
  transform: translate3d(0, 10px, 0) rotate3d(1, 1, 1, 45deg);
  -webkit-transform: translate3d(0, 10px, 0) rotate3d(1, 1, 1, 45deg);
  -ms-transform: translate3d(0, 10px, 0);
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
}
.tooltip-effect-1 .tooltip-content i {
  transform: scale3d(0, 0, 1);
  -webkit-transform: scale3d(0, 0, 1);
}
.tooltip-effect-2 .tooltip-content {
  transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
}
.tooltip-effect-3 .tooltip-content {
  transform: translate3d(0, 20px, 0) rotate3d(0, 1, 0, 150deg) scale3d(0, 0, 1);
}
.tooltip-effect-4 .tooltip-content {
  transform: translate3d(0, -30px, 0);
}
.tooltip-effect-5 .tooltip-content {
  transform: translate3d(0, 110px, 0) rotate3d(1, 1, 1, -45deg) scale3d(0, 0, 0);
  transform-origin: center bottom;
}
.tooltip:hover .tooltip-content,
.tooltip:hover .tooltip-content i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0) scale3d(1, 1, 1);
}
.tooltip:hover {
  color: #fff;
}
