* {
    padding: 0px;
}

.container {
    width: 60%;
    height: 200px;
    margin: 0 auto;
}

li {
    list-style: none;
    text-align: center;
}

.title {
    height: 20px;
    width: 60%;
}

.title li {
    /*display: inline;*/
    float: left;
    width: 70px;
    color: darkblue;
}

.clear-fix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    /*overflow: hidden;*/
}

.content li {
    display: none;
    text-align: left;
}

.content li:first-child {
    display: block;
}

.isActive {
    /*border: 1px dashed orangered;*/
    background: orange;
    /*color: white;*/
}